<div class="header">
    <div class="header__section">
        <div class="header__contents">
            <div class="header__logo">
                <img src="/static/posts/images/logo3.svg" width="100%" height="100%">
            </div>
            <a id="header__profileimg" class="header__profileimg image-cropper"></a>
        </div>
        <div class="header__menu">
            <div class="header__menu__item"><a href="/main/stories"><p>스토리 .</p></a></div>
            <div class="header__menu__item"><a href="/main/posts"><p>포스트 .</p></a></div>
            <div class="header__menu__item"><a href="/main/test"><p>글쓰기 .</p></a></div>
        </div>
    </div>
</div>