<div class="header__position">
    <div class="header__meta">
        <div class="header__meta__logo">
            <img src="/static/posts/images/logo3.svg" width="150px">
        </div>
        <div class="header__meta__user" id="headerNotLogin">
            <a class="header__meta__user__menu--highlight">회원가입</a>
            <a class="header__meta__user__menu">로그인</a>
        </div>
        <div class="header__meta__user" id="headerLogin">
            <a class="header__meta__user__profileimg image-cropper" id="header__profileimg"></a>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu__item"><a href="/main/stories">
                <p>스토리 .</p>
            </a></div>
        <div class="header__menu__item"><a href="/main/posts">
                <p>포스트 .</p>
            </a></div>
        <div class="header__menu__item"><a href="/main/test">
                <p>글쓰기 .</p>
            </a></div>
    </div>
</div>