/* dev */
.box {
  border: 1px solid #000000;
}

.header {
  width: 100%;
  padding: 0px 8px 0px 8px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dee3eb;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding: 0px 5px 0px 5px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0;
}

.header__profile .btn {
  width: 35px;
  height: 35px;
}

.header__profile__pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* .header__profiles__pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
} */

.image-cropper {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper-reply {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.contents {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background-color: whitesmoke;
}

.authbox {
  display: flex;
  width: 45vh;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 1 auto;
  width: 600px;
  height: 100%;
  padding: 3px;
}

.posts__form-box {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 200px;
  background-color: white;
  padding: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
}

.posts__streams {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 8px;
}

.posts__streams__end {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.posts__streams__item {
  display: flex;
  height: 100%;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 15px 15px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.05);
  flex-direction: column;
  justify-content: flex-start;
}

.posts__streams__item__title {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 8px;
}

.posts__streams__item__title__img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.posts_streams_item__title__text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.posts__streams__item__title__name {
  color: #343a40;
}

.posts__streams__item__title__time {
  font-size: 12px;
  color: #5e5e5e;
}

.posts__streams__item__content {
  display: inline;
  word-break: break-all;
  min-height: 80px;
}

.posts__streams__item__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding-left: 8px;
}

.posts__streams__item__tools span {
  font-size: 14px; 
  color: #5e5e5e;
  cursor: pointer;
}

.posts__streams__item__tools span:hover {
  color: #f59f00;
}

.posts__streams__item__replys {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.posts__streams__item__replys__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  justify-content: center;
}

.posts__streams__item__replys__item__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.posts__streams__item__replys__item__title div {
  flex: 0 0 auto;
  margin-left: 8px;
}

.posts__streams__item__replys__item__title__username {
  font-size: 14px;
  color: #343a40;
  font-weight:bold;
}

.posts__streams__item__replys__item__title__time {
  font-size: 12px;
  color: #5e5e5e;
}

.posts__streams__item__replys__item__content {
  margin-left: 30px;
}

.posts__streams__item__reply__form {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  height: 60px;
  padding-left: 8px;
  padding-right: 8px;
}

.posts__streams__item__reply__form__img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.posts__streams__item__reply__form form {
  display: flex;
  flex: 1 0 auto;
}

.posts__streams__item__reply__form__input {
  flex: 1 0 auto;
  border: 1px solid #CCC;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  height: 35px;
}

.posts__streams__item__reply__form__btn {
  border: 1px solid #adb5bd;
  border-radius: 3px;
  background-color: white;
  color: #868e96;
  height: 35px;
}

.posts__streams__item__reply__form__btn:hover {
  border: 1px solid #f59f00;
  background-color: #f59f00;
  color: white;
}

.posts__form-box__textarea {
  flex: 1 1 auto;
  font-size: 20px;
}

.emojionearea {
  font-size: 20px !important;
}

.posts__form-box__textarea:hover {
  border-color: #adb5bd;
}

.posts__form-box__tools {
  display: flex;
  margin-top: 3px;
  justify-content: space-between;
}

.posts__form-box__tools__item {
  display: flex;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.posts__form-box__tools__item:hover {
  border-color: #868e96;
}

.posts__form-box__tools__item i {
  font-size: 1.2em;
  color: #868e96;
}

.posts__form-box__tools__item i:hover {
  font-size: 1.3em;
  color: #495057;
}

.posts__form-box__tools__btn {
  border: 1px solid #adb5bd;
  border-radius: 3px;
  background-color: transparent;
  color: #868e96;
}

.posts__form-box__tools__btn:hover {
  border: 1px solid #f59f00;
  background-color: #f59f00;
  color: white;
}

.header__logo {
  display: flex;
  flex: 1 0 auto;
  min-width: 280px;
  border-right: 1px solid #dee3eb;
}

.header__logo__img {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.header__logo__title {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

/* .header__menu {
  display: flex;
  flex: 1 1 100%;
  min-width: 800px;
} */

.header__menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  width: 140px;
  /* border-right: 1px solid #dee3eb; */
  cursor: pointer;
  height: 100%;
}

.header__menu__item--active-on {
  border-bottom: 2px solid #45AB41;
}

.header__menu__item__title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__menu__item__dropdown-menu {
  margin-top: 4px;
  border-radius: 0;
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;
  width: 200px;
  border-left: 1px solid #dee3eb;
}

/* bootstrap custom */
.btn.btn-default.dropdown-toggle:after{
  display:none;
 }