{% extends "commons/base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'stories/css/stories.css' %}">
{% endblock stylesheets %}
{% block header %}
{% include 'commons/header.html' %}
{% endblock header %}
{% block content %}
<div class="stories__layout">
    <div class="stories__layout__leftside">
        <div class="stories__headline">
            <a><img class="stories__headline__img"
                    src="https://cdn-images-1.medium.com/max/800/1*DPuSx11HAKf3TD1mZEac5Q.jpeg"></a>
            <h1><a class="stories__headline__subject">패스트 푸드는 정말 해롭다!</a></h1>
            <p><a class="stories__headline__undertext">30년 동안 칼로리와 같이 부분적인 크기가 커졌고, 음식은 덜 건강해졌다.</a></p>
            <div class="stories__headline__about">
                <a><img src="https://cdn-images-1.medium.com/max/800/1*DPuSx11HAKf3TD1mZEac5Q.jpeg"></a>
                <div class="stories__headline__about__info">
                    <a><span class="stories__headline__about__info__name">Eric Ravenscraft</span></a>
                    <span class="stories__headline__about__info__date">Mar 2 · 5 min read</span>
                </div>
            </div>
        </div>
        <div class="stories__latest" id="stories__latest">
            <h2>최근 이야기</h2>
        </div>
    </div>
    <div class="stories__layout__rightside">
        <div class="stories__introduction">
            <h2>건강</h2>
            <p>Body Talk & Stories</p>
            <div class="stories__introduction__explain"><p>Follow to get great stories about Health in your inbox and on your homepage</p></div>
        </div>
        <div class="stories__category">
            <h3>주제별</h3>
            <div class="stories__category__list">
                <div class="stories__category__list__item stories__category__list__item--first"><a><span>식사와 건강</span></a></div>
                <div class="stories__category__list__item"><a><span>정신 건강</span></a></div>
                <div class="stories__category__list__item"><a><span>중독</span></a></div>
                <div class="stories__category__list__item"><a><span>운동과 건강</span></a></div>
            </div>
        </div>
        <div class="stories__popular"></div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script src="{% static 'stories/js/stories.js' %}"></script>
{% endblock javascripts %}