{% extends "commons/base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'storydetail/css/storydetail.css' %}">
{% endblock stylesheets %}
{% block header %}
{% include 'commons/header.html' %}
{% endblock header %}
{% block content %}
<input type="hidden" id="storyArticleID" value="{{ request.path }}">
<article class="storyArticle">
    <div class="storyArticle__header">
        <h1 class="storyArticle__header__title" id="storyTitle"></h1>
        <p class="storyArticle__header__date" id="storyDate"></p>
    </div>
    <div class="storyArticle__content" id="storyContent"></div>
    <div class="storyArticle__bottom">
        <div class="storyArticle__bottom__actions">
            <div class="storyArticle__bottom__actions__front">
                <i id="storyActionLove" class="fa-heart"></i>
                <p id="storyActionLoveCounter"></p>
            </div>
            <div class="storyArticle__bottom__actions__back"></div>
        </div>
        <div class="storyArticle__bottom__about">
            <a id="storyProfileImg" class="storyArticle__bottom__about__profileimg image-cropper"></a>
            <div class="storyArticle__bottom__about__profiletxt">
                <h2 id="storyProfileName"></h2>
                <p id="storyProfileText">Overnight</p>
            </div>
        </div>
    </div>
    <div class="storyArticle__commentInput">
        <h3>댓글</h3>
        <textarea class="storyArticle__comments__textarea hsb__textarea" id="storyCommentTextarea" rows="1"></textarea>
        <button class="storyArticle__comments__submitbtn hsb__btn hsb__btn--primary" id="storyCommentSubmitBtn">댓글 작성</button>
    </div>
    <div class="hsb__btn hsb__btn--primary--inverse">
        <p>댓글 보기</p>
    </div>
    <div class="storyArticle__comments" id="storyArticleComments">
        <!-- <div class="storyArticle__comment">
            <div class="nametag">
                <a class="nametag__img  image-cropper"
                    style="background-image: url('https://lh5.googleusercontent.com/-kodfzN5g03I/AAAAAAAAAAI/AAAAAAAACV0/OgcysBaxKJY/s96-c/photo.jpg');"></a>
                <div class="nametag__profile">
                    <p class="nametag__profile__name">정현규</p>
                    <p class="nametag__profile__date">2019년 3월 8일</p>
                </div>
            </div>
            <div class="stroyArticle__comment__content">
                <p>댓글 테스트 댓글 테스트 댓글 테스트 댓글 테스트 댓글 테스트 댓글 테스트 댓글 테스트 </p>
            </div>
        </div> -->
    </div>
</article>
    {% endblock content %}
    {% block javascripts %}
    <script src="{% static 'storydetail/js/storydetail.js' %}"></script>
    {% endblock javascripts %}