.stories__layout {
    margin-top: 30px;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.stories__layout__leftside {
    flex: 1 1 auto;
    display: block;
    /* max-width: 680px; */
}

.stories__layout__rightside {
    flex: 1 1 auto;
    display: block;
    max-width: 320px;
    margin-left: 70px;
}

.stories__headline {
    width: 100%;
    margin-bottom: 40px;
}

.stories__headline__img {
    width: 100%;
}

.stories__headline__subject {
    width: 100%;
    font-size: 40px;
}

.stories__headline__undertext {
    width: 100%;
    font-size: 19px;
}

.stories__headline__about {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stories__headline__about img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.stories__headline__about__info {
    margin-left: 8px;
}

.stories__headline__about__info a {
    display: block;
}

.stories__headline__about__info__name {
    font-size: 15.8px;
    line-height: 20px;
}

.stories__headline__about__info__date {
    font-size: 15.8px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.stories__latest h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.80)
}

.stories__latest__item {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}

.stories__latest__item p, h3 {
    margin: 0px;
}

.stories__latest__item__img {
    flex: 0 0 auto;
    width: 150px;
    max-height: 150px;
    background-size: cover;
    background-image: url(https://cdn-images-1.medium.com/max/800/1*DPuSx11HAKf3TD1mZEac5Q.jpeg);
    background-position: 36% 41%;
}

.stories__latest__item__summary {
    flex: 1 1 auto;
    margin-right: 16px;
    max-height: 150px;
}

.stories__latest__item__summary__titlediv {
    margin-bottom: 6px;
    display: -webkit-box;
    font-size: 16px;
    overflow: hidden;
    max-height: 50px;
    line-height: 25px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.stories__latest__item__summary__subtitlediv {
    margin-bottom: 12px;
    display: -webkit-box;
    font-size: 0.8em;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgba(0, 0, 0, 0.54);
}

.stories__latest__item__summary__about {
    display: flex;
    align-items: center;
}

.stories__latest__item__summary__about__profileimg {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: 35% 35%;
    margin-right: 8px;
}

.stories__latest__item__summary__about__profiletxt {
    margin-left: 6px;
}

.stories__latest__item__summary__about__profiletxt__name {
    font-size: 0.9em;
    display: block;
    color: rgba(0, 0, 0, 0.80)
}

.stories__latest__item__summary__about__profiletxt__date {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.54);
}

.stories__introduction__explain {
    margin-top: 10px;
    font-size: 13px;
}

.stories__category {
    margin-top: 20px;
}

.stories__category h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 16px;
}

.stories__category__list a {
    display: block;
}

.stories__category__list__item {
    margin-top: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.stories__category__list__item--first {
    margin-top: 18px;
}